<div class="container">
 <div class="row">
     <div class="col-12">
         <h1 class="text-secondary">{{titulo}}</h1>
     </div>
 </div>

 <div class="row">
    <div class="col-4" *ngFor="let carta of departamento">
        <div class="card">
            <img class="card-img-top img-fluid" src="{{carta.foto}}" alt="foto">
            <div class="card-body">
                <h4 class="card-title">{{carta.nombre}}</h4>
                <p class="card-text text-secondary">{{carta.descripcion}}</p>

                <a class="text-secondary">{{carta.id}}</a>

                <button (click)="obtenerDatos(carta)" class="btn btn-outline-primary btn-lg btn-block mt-3"> ver más</button>
            </div>
        </div>
    </div>

 </div>
</div>